# Files from build
**/*.o
**/*.s
src/.depend

# Built binary
src/alexander*
src/Alexander*
src/-lstdc++.res

# Experience files
**/*.exp

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix